<section id="about" class="max-w-4xl w-full mx-auto mt-36 mb-16">
  <h2 class="mb-8 font-bold text-4xl lg:text-5xl">Sobre mí</h2>
  <div
    class="flex flex-col-reverse lg:flex-row gap-x-8 justify-center items-center"
  >
    <div class="[&>p]:mb-4 [&>p]:text-pretty text-left">
      <p>
        Me llamo Geremy Alejandro y soy de Lima, Perú. Culminé mis estudios como
        Desarrollador de Software y me especializo en el Front-End.
        <strong
          >Me gusta crear experiencias modernas e interactivas que aporten valor
          a los usuarios y marca.</strong
        >
      </p>
      <p>
        Tengo experiencia con <strong
          >herramientas de diseño como Figma y Balsamiq,</strong
        >
        que utilizo para diseñar mockups y wireframes tanto en proyectos personales
        como académicos. <strong>Me apasiona el mundo del UX/UI,</strong> ya que
        creo firmemente que una página puede transmitir mucho sobre un producto u
        organización.
      </p>
    </div>
    <img
      src="/src/assets/cuadrado.jpg"
      alt="Geremy"
      class="aspect-square ring-4 rounded-2xl rotate-3 ring-black/70 size-48 mt-6 mb-8 lg:mt-0 lg:mb-0"
    />
  </div>
</section>
