---
import Heart from "../assets/svg/heart.svg";
---

<footer class="max-w-4xl w-full mx-auto bg-[#ff616b] px-6 py-4 rounded-b-2xl">
  <p class="text-[1rem]! text-white!">
    Made with <span><Heart class="inline size-4" /></span> in Peru
  </p>
</footer>
