---
import Job from "../assets/svg/job.svg";
---

<section id="experience" class="max-w-4xl w-full mx-auto mt-36 relative">
  <h2 class="font-bold text-4xl lg:text-5xl">Experiencia laboral</h2>
  <Job class="absolute size-28 top-1/2 left-5 -translate-y-1/2 rotate-6" />
  <div
    class="card border-2 max-w-sm mx-auto rounded-2xl p-4 bg-[#fbf5d0] relative card-rounded mt-20"
  >
    <div
      class="border-2 max-w-md absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2 z-10 p-1.5 rounded-xl bg-[#fcfef4] text-center"
    >
      <h3 class="font-bold text-lg lg:text-xl">Easy Hotel</h3>
      <p class="text-sm! font-medium! lg:text-base!">Practicante Front-End</p>
      <p class="text-sm! font-medium! lg:text-base!">Feb - Aug 2024</p>
    </div>
    <p class="mt-12 text-pretty">
      Responsable de optimizar la interfaz de usuario de la aplicación web,
      colaborando con el equipo de diseño. Además, utilicé herramientas de
      control de versiones como Git para mantener un flujo de trabajo eficiente
      y colaborativo.
    </p>
  </div>
</section>

<style>
  .card::after {
    content: "";
  }
</style>
